<article>
    <section class="header post-header">
        $if(header-img)$
        <img src="$header-img$" alt="$header-img-alt$" />
        $endif$
        <section class="info">
            Published on $date$
            $if(author)$
            by $author$
            $endif$
        </section>
        <section class="info">
            $if(tags)$
            Tags: $tags$
            $endif$
        </section>
    </section>
    <section class="post-body">
        $body$
    </section>
</article>